header {
    background-color: yellow;
    padding: 107px 107px;
    border: solid 2px black;
    color: blue;
    
}

main {
    background-color: gray;
    text-align: center;
    padding: 107px 107px;
    border: solid 2px green;
    color: white;

}

footer {
    background-color: blue;
    padding: 107px 107px;
    border: solid 2px black;
    color: yellow;

}