header {
    background-color: yellow;
    margin: 10px 5px;
    border: solid 2px black;
    height: 60px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;

}

.bluesquare {
    border: solid 2px black;
    padding: 5px 25px;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: blue;

    

}

.login {
    text-align: end;
    padding: 5px 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
    
    
}


nav {
    flex-direction: row;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;

}

#left {
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    margin-right: 10px;

}

.div1 {
    border: solid 2px black;
    padding: 5px 35px;
    margin-right: 10px;
    background-color: palevioletred;
}

.div2 {
    border: solid 2px black;
    padding: 5px 35px;
    margin-left: 10px;
    background-color: palevioletred;
}

#right {
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    margin-left: 10px;

}

.div3 {
    border: solid 2px black;
    padding: 5px 35px;
    margin-right: 10px;
    background-color: palevioletred;
}

.div4 {
    border: solid 2px black;
    padding: 5px 35px;
    margin-left: 10px;
    background-color: palevioletred;
}





main {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: 120px;

}

.aside {

    border: solid 2px black;
    color: pink;
    background-color: gray;
    text-align: center;
    align-items: flex-start;
    flex-basis: 35%;
    margin-bottom: 10px;
    margin-right: 10px;

}

.main {

    border: solid 2px black;
    color: greenyellow;
    background-color: green;
    text-align: center;
    align-items: flex-end;
    flex-basis: 65%;
    margin-bottom: 10px;
    margin-left: 10px;

}

footer {
    background-color: blue;
    margin: 10px 5px;
    border: solid 2px black;
    color: yellow;
    text-align: center;
    height: 150px;

}