header {
    background-color: yellow;
    padding: 80px 80px;
    margin: 10px 5px;
    border: solid 2px black;
    color: blue;
    text-align: center;
    
}

nav {
    flex-direction: row;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;
   
}
#left {
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    margin-right: 10px;   
    
}

.div1 {
    border: solid 2px black;
    padding: 5px 35px;
    margin-right: 10px;
    background-color: palevioletred;
}
.div2 {
    border: solid 2px black;
    padding: 5px 35px;
    margin-left: 10px;
    background-color: palevioletred;
}

#right {
    flex-direction: row;
    display:flex;
    margin-top: 5px;
    margin-left: 10px;
    
}

.div3 {
    border: solid 2px black;
    padding: 5px 35px;
    margin-right: 10px;
    background-color: palevioletred;
}
.div4 {
    border: solid 2px black;
    padding: 5px 35px;
    margin-left: 10px;
    background-color: palevioletred;
}





main {
    flex-direction: row;
    display: flex;


}

.aside {
       
       border: solid 2px black;
       padding: 50px 50px;
       color: pink;
       background-color: gray;
       text-align: center;
       align-items: flex-start;
       flex-basis: 25%;
       margin-right: 5px;
       margin-left: 5px;
       margin-bottom: 10px;
       
}

.main {
    
    border: solid 2px black;
    padding: 50px 50px;
    color: greenyellow;
    background-color: green;
    text-align: center;
    align-items: flex-end;
    flex-basis: 75%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
   
}

footer {
    background-color: blue;
    padding: 107px 107px;
    margin: 10px 5px;
    border: solid 2px black;
    color: yellow;
    text-align: center;

}